<!DOCTYPE html>
<html>
	<body>
		<h2> SELECT QUERY</h2>
		<form action="/search" method="POST">
			<label for="EmployeeName">Employee Name :</label><br>
			<input type="number" id="MinId" name="MinId" value="1"> <br>
			<input type="number" id="MaxId" name="MaxId" value="5"> <br>
			<input type="submit" value="Search"><br>
		</form>
		<br>
		<br>
		{{if .}}
		<ul>
            {{range .}}
			<li>Id: {{.Id}}</li>
			<li>Firstname: {{.Firstname}}</li>
			<li>Lastname: {{.Lastname}}</li>
			<br>
			{{end}}
		</ul>
		{{end}}
	</body>
</html>