<!DOCTYPE html>
<html>
	<body>
		<h2> INSERT DATA </h2>
		<form action="/insert" method="POST">
			<label for="CustomerId">Customer ID :</label><br>
			<input type="number" id="CustomerID" name="CustId" value="7"> <br>
			<label for="CustomerFName">Customer First Name :</label><br>
			<input type="text" id="CustomerFname" name="fname" value="Mello"> <br>
			<label for="CustomerLName">Customer Last Name :</label><br>
			<input type="text" id="CustomerLname" name="lname" value="Mello"> <br>
			
			<input type="submit" value="Submit">
		</form>
        {{if .}}
            <h2>{{.}}</h2>
        {{end}}
        <br>
        <a href="/search"> Customer Homepage </a>
	</body>
</html>
